<div class="container mt-5">
  <div class="author-profile">
    <div class="author-profile-header">
      <img
        src="<%- locals.blog.createdBy.profileImageUrl %>"
        alt="Author Profile Picture"
        class="author-profile-pic"
      />
      <div class="author-info">
        <a href="/author/<%- locals.blog.createdBy._id %>"
          ><h3 class="author-name"><%- locals.blog.createdBy.fullname %></h3></a
        >
        <p class="author-bio">
          A passionate writer, traveler, and tech enthusiast. Sharing stories
          from my journey in the world of coding and beyond.
        </p>
        <!-- <div class="author-social-links">
          <a href="#" class="social-icon"><i class="bi bi-facebook"></i></a>
          <a href="#" class="social-icon"><i class="bi bi-twitter"></i></a>
          <a href="#" class="social-icon"><i class="bi bi-linkedin"></i></a>
        </div> -->
      </div>
    </div>
  </div>
</div>
